<div class="container">
  <div class="row" id="first-row">
    <div align="center" class="col-md-12">
<img src="assets/images/burger.jpg" alt="Burger" id="burger">
<h1>Eat-Da-Burger</h1>
    </div>
  </div>
<div class="row" id="second-row">
  <div class="col-md-6">
<h2>Burgers Not Devoured</h2>
<ol>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ol>
</div>
  <div class="col-md-6">
<h2>Burgers Devoured</h2>
<ol>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ol>
</div>
</div>
<div class="row" id="third-row">
  <div align="center" class="col-md-12">
<form class="create-form">
  <br><br>
  <div class="form-group">
    <input type="text" id="burg" name="burger_name">
  </div>
  <br><br>
  <button type="submit">Submit</button>
  <br><br>
  <p>Enter the name of a burger that you want to devour, and click the Submit button.</p>
</form>
</div>
</div>
</div>